/* Footer */
footer {
  background-color: rgb(224, 230, 230);
  padding: 30px 30px 5px 30px;
  text-align: center; /* ajout de cette ligne pour centrer le contenu */
}

footer h5 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #343a40;
}

footer p {
  font-size: 16px;
  line-height: 1.6;
  color: #6c757d;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  margin-bottom: 20px;
}

footer ul li {
  margin-bottom: 10px;
  color: #6c757d;
}

footer ul li i {
  margin-right: 10px;
  color: #343a40;
}

footer form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
  align-items: center;
  justify-content: center; /* ajout de cette ligne pour centrer le contenu */
  margin-bottom: 20px;
}

footer input[type="email"] {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #fb774b;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  color: #6c757d;
  margin-right: 10px;
}

footer input[type="email"]:focus {
  outline: none;
  box-shadow: none;
  border-bottom-color: #fb774b;
}

footer button[type="submit"] {
  background-color: #fb774b;
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

footer button[type="submit"]:hover {
  background-color: #fb774b;
  color: #fff;
}

footer p {
  font-size: 14px;
  color: #6c757d;
  margin-top: 40px;
}
